html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}
h2{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 3rem;
}
p{
    font-size: 2.5rem;
}
li{
    font-size: 2rem;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
@import 'home';
@import 'features';
@import 'soon';
@import 'footer';

@media screen and (max-width: 1200px) {
    #logo{
        flex: 1;
    }
    li{
        font-size: 1.5rem;
    }
    .feature{
        .cards{
            flex-direction: column;
            .card{
                margin: 3rem 0;
            }
        }
    }
    .soon{
        overflow: hidden;
    }
    .showcase{
        grid-template-columns: 10% 1fr 10%;
       grid-template-rows: 2fr 2fr 3fr;
        h2, img, .info{
            grid-column: 2/3;
            text-align: center;
        }
        img{
            width: 100%;
            object-fit: contain;
        }
        h2{
            align-self: center;
        }
        .info{
            align-self: center;
            font-style: italic;
        }
    }
    .soon{
        img{
           width: 100%;
           object-fit: contain;
        }
        h2{
            font-size: 4rem;
            text-align: center;
        }
    }
    footer{
        .footer-section{
            h1{
                flex: 1;
            }
            
        }
    }
}